<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://kit.fontawesome.com/4f39c4000d.js" crossorigin="anonymous"></script>
</head>

<body>
  <a href="" class="fas fa-cog mgmt-btn"></a>
  <a href="index.html" class="logo">
    <img src="/imgs/logo.png" alt="">
  </a>
  <main class="admin">
    <div class="admin-group">
      <label for="">機 率</label><br>
      <input type="text">
    </div>
    <div class="admin__prize-lists">
      <div action="" class="admin__prize-list">
        <div class="admin__prize-title">頭 獎</div>
        <div class="admin__prize-img">
          <img src="/imgs/1.png" alt="">
        </div>
        <div class="admin__prize-info">
          <div>
            <label class="admin__prize-label" for="">名稱：</label>
            <input class="admin__prize-input" type="text">
          </div>
          <div>
            <label class="admin__prize-label" for="">數量：</label>
            <input class="admin__prize-input" type="text">
          </div>
          <div>
            <label class="admin__prize-label" for="">圖片網址：</label>
            <input class="admin__prize-input" type="text">
          </div>
        </div>
      </div>
      <div action="" class="admin__prize-list">
        <div class="admin__prize-title">二等獎</div>
        <div class="admin__prize-img">
          <img src="/imgs/1.png" alt="">
        </div>
        <div class="admin__prize-info">
          <div>
            <label class="admin__prize-label" for="">名稱：</label>
            <input class="admin__prize-input" type="text">
          </div>
          <div>
            <label class="admin__prize-label" for="">數量：</label>
            <input class="admin__prize-input" type="text">
          </div>
          <div>
            <label class="admin__prize-label" for="">圖片網址：</label>
            <input class="admin__prize-input" type="text">
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>