<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./templates/head') %> 
</head>
<body>
  <%- include ('./templates/nav') %>
  
  <main class="admin">
    <div class="admin-group">
      <label for="">機 率</label><br>
      <input type="text">
    </div>
    <div class="admin__prize-lists">
      <div action="" class="admin__prize-list">
        <div class="admin__prize-title">頭 獎</div>
        <div class="admin__prize-img">
          <img src="/imgs/1.png" alt="">
        </div>
        <div class="admin__prize-info">
          <div>
            <label class="admin__prize-label" for="">名稱：</label>
            <input class="admin__prize-input" type="text">
          </div>
          <div>
            <label class="admin__prize-label" for="">數量：</label>
            <input class="admin__prize-input" type="text">
          </div>
          <div>
            <label class="admin__prize-label" for="">圖片網址：</label>
            <input class="admin__prize-input" type="text">
          </div>
        </div>
      </div>
      <div action="" class="admin__prize-list">
        <div class="admin__prize-title">二等獎</div>
        <div class="admin__prize-img">
          <img src="/imgs/1.png" alt="">
        </div>
        <div class="admin__prize-info">
          <div>
            <label class="admin__prize-label" for="">名稱：</label>
            <input class="admin__prize-input" type="text">
          </div>
          <div>
            <label class="admin__prize-label" for="">數量：</label>
            <input class="admin__prize-input" type="text">
          </div>
          <div>
            <label class="admin__prize-label" for="">圖片網址：</label>
            <input class="admin__prize-input" type="text">
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>