<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://kit.fontawesome.com/4f39c4000d.js" crossorigin="anonymous"></script>
</head>
<body>
  <a href="login.html" class="fas fa-cog mgmt-btn"></a>
  <a href="index.html" class="logo">
    <img src="/imgs/logo.png" alt="">
  </a>
  <main class="lottery">
    <div class="lottery__prize-top">
      <div class="lottery__control">
        <div class="lottery__prize-area">
          <div id="prizeText" class="prizr-title">?</div>
          <div id="prizeImg" alt=""></div>
        </div>
        <span href="" id="play" class="lottery__prize-btn">開始抽獎</span>
        <dispanv id="stop" class="lottery__prize-btn">停止抽獎</span>
      </div>
    </div>
    <div class="lottery__prize-down">
        <div class="lottery__prize-title">獎 項</div>
        <div class="lottery__prize-list">
          <div>獎項一
            <div class="lottery__prize-img">
              <img src="/imgs/1.png" alt="">
            </div>
          </div>
          <div>獎項二
            <div class="lottery__prize-img">
              <img src="/imgs/2.png" alt="">
            </div>
          </div>
          <div>獎項三
            <div class="lottery__prize-img">
              <img src="/imgs/3.png" alt="">
            </div>
          </div>
          <div>獎項四
            <div class="lottery__prize-img">
              <img src="/imgs/4.png" alt="">
            </div>
          </div>
          <div>獎項五
            <div class="lottery__prize-img">
              <img src="/imgs/5.png" alt="">
            </div>
          </div>
          <div>獎項五
            <div class="lottery__prize-img">
              <img src="/imgs/6.png" alt="">
            </div>
          </div>
          <div>獎項五
            <div class="lottery__prize-img">
              <img src="/imgs/7.png" alt="">
            </div>
          </div>
          <div>獎項五
            <div class="lottery__prize-img">
              <img src="/imgs/b.png" alt="">
            </div>
          </div>
        </div>
    </div>
  </main>
  <script src="/js/lottery.js"></script>
</body>
</html>