<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./templates/head') %> 
</head>
<body>
  <%- include ('./templates/nav') %> 

  <form class="login" method="POST" action="/admin">
    <div class="login-group">
      <label for="">帳 號</label><br>
      <input type="text" name="username">
    </div>
    <div class="login-group">
      <label for="">密 碼</label><br>
      <input type="password" name="password">
    </div>
    <div class="err-message"><%= errorMessage %></div>
    <input class="login-btn" type="submit" value="登 入">
  </form>
</body>

</html>