<% if(username) { %>
  <a href="/login" class="fas fa-cog mgmt-btn"></a>
  <a href="/" class="fas fa-pastafarianism home-btn"></a>
<% } else { %>
  <a href="/login" class="fas fa-cog mgmt-btn"></a>
<% } %>
<a href="/" class="logo">
  <img src="/imgs/logo.png" alt="">
</a>
